.item-hierarchy {
  max-width: 1231px;
  background-color: black;
  padding: 8px;

  .splash-image__background {
    background-color: black;
  }

  .splash-image {
    opacity: 0.8;
  }
}

.item-image {
  display: inline-block;
}

.item-explorer__item-name {
  padding-left: 8px;
  display: inline-block;
}
