# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp

# all match data
data/*

# don't lock the versions in development
Gemfile.lock
Berksfile.lock

*.sublime-workspace

# woe unto you if you try 'git add .vagrant'
.vagrant
