# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp

# stop commiting api keys
config/api.yml

# all match data
data/*

# don't lock the versions in development
Gemfile.lock
Berksfile.lock
