{
  "parser": "Babel-ESLint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 1,
    "semi": 0,
    "quotes": 0,
    "no-console": 1,
    "comma-dangle": 0,
    "brace-style": 1,
    "no-underscore-dangle": 0,
    "space-in-brackets": 0,
  }
}
